body, html {
  width: 100%;
  height: 100%;
  margin: 0; }

.menu-wrapper {
  position: fixed;
  padding: 20px;
  z-index: 5;
  margin: 3%;
  border-radius: 50%;
  background-color: #E5DDF0; }

.menu-wrapper .hamburger-menu {
  color: #723C8B; }

.menu-wrapper .menu-close {
  color: #723C8B; }

.fullscreen-menu {
  display: none;
  z-index: 4;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #20032A;
  padding: 5% 0;
  text-align: center; }

.fullscreen-menu h1 {
  font-family: "Nunito", sans-serif;
  color: #A07ABC;
  font-size: 4rem;
  margin: 0; }

.fullscreen-menu ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 8% auto; }

.fullscreen-menu ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  padding: 10px 0; }

.fullscreen-menu ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #E5DDF0; }

.fullscreen-menu ul li a:hover {
  color: #A07ABC;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5), 0 0 20px #fff, 0 0 10px #7d26cd, 0 0 50px #7d26cd; }

header {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
  text-align: center;
  background: url(../images/headerbg-bw.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

header .header-text {
  margin-top: 0;
  padding-top: 16%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  font-family: "Nunito", sans-serif;
  color: #E5DDF0;
  font-size: 3rem;
  text-transform: uppercase; }

header .header-text h1 {
  margin: 0;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5), 0 0 20px #fff, 0 0 10px #7d26cd, 0 0 50px #7d26cd; }

header .header-text h2 {
  margin: 0;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5), 0 0 20px #fff, 0 0 10px #FF69B4, 0 0 50px #FF69B4; }

header .header-text h2 #web-blink {
  -webkit-animation: blink 0.01s infinite alternate;
  -moz-animation: blink 0.01s infinite alternate;
  -o-animation: blink 0.01s infinite alternate;
  animation: blink 0.01s infinite alternate; }

header .down-arrow {
  color: white;
  position: absolute;
  margin-bottom: 20px;
  bottom: 0; }

@-moz-keyframes blink {
  70% {
    opacity: 0.7; } }

@-webkit-keyframes blink {
  45% {
    opacity: 0.5; } }

@-o-keyframes blink {
  70% {
    opacity: 0.7; } }

@keyframes blink {
  70% {
    opacity: 0.7; } }

.projects {
  width: 100%;
  min-height: 100vh;
  background-color: #A07ABC;
  padding-top: 3%;
  overflow: auto;
  text-align: center; }

.projects h1 {
  font-family: "Nunito", sans-serif;
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  color: #A07ABC;
  margin: 0;
  text-shadow: 0 6px 10px #723C8B, 0px -1px 1px #E5DDF0; }

.projects .project-wrapper {
  margin: 3% auto;
  width: 80%; }

.projects .project-wrapper .project {
  margin: 0 auto;
  margin-bottom: 30px;
  display: inline-block;
  width: 50%;
  float: left; }

.projects .project-wrapper .project h3 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase; }

.projects .project-wrapper .project .imagewrapper {
  margin: 0 auto;
  width: 70%;
  height: 300px; }

.projects .project-wrapper .project .imagewrapper img {
  width: 100%; }

.projects .project-wrapper .project button {
  width: 80%;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #E5DDF0; }

.projects .project-wrapper .project button a {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-decoration: none; }

.projects .project-wrapper .project hr {
  margin: 20px;
  border: 1px solid #723C8B; }

.aboutsection {
  width: 100%;
  min-height: 100vh;
  padding-top: 3%;
  background: url(../images/aboutbg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  bottom: 0; }

.aboutsection h1 {
  font-family: "Nunito", sans-serif;
  font-size: 4.5rem;
  color: #20032A;
  margin: 0;
  text-shadow: 0 6px 10px #723C8B, 0px -1px 1px #723C8B; }

.aboutsection .aboutwrapper {
  width: 80%;
  background: rgba(229, 221, 240, 0.8);
  margin: 3% auto;
  overflow: auto; }

.aboutsection .aboutwrapper .kristiphoto {
  width: 300px;
  height: 300px;
  display: inline-block;
  border-radius: 50%;
  background: url(../images/kristiprofile.jpg);
  background-size: cover;
  margin: 7.5% 5%;
  float: left; }

.aboutsection .aboutwrapper .kristiphoto:hover {
  background: url(../images/kristiclown.jpg);
  background-size: cover; }

.aboutsection .aboutwrapper p {
  width: 30%;
  display: inline-block;
  float: left;
  margin: 10% auto;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem; }

.aboutsection .aboutwrapper .buttonwrapper {
  margin: 10% auto;
  width: 30%;
  display: inline-block; }

.aboutsection .aboutwrapper button {
  display: inline-block;
  background: #A07ABC;
  width: 80%;
  margin: 15px 0;
  height: 40px;
  border: none;
  border-radius: 10px; }

.aboutsection .aboutwrapper button a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem; }
